.aside {
	width: 80%;
	height: 100vh;
	max-width: 250px;
	background-color: var(--card-bg-color);
	box-shadow: 1px 1px 10px rgb(220, 220, 220);
	z-index: 996;
	position: fixed;
	top: 0;
	left: 0;
	padding: 16px 0;
	color: var(--reading-text-color);
}
.aside :is(h2) {
	padding-left: 12px;
}
.aside > ul:first-child li:nth-child(2) {
	margin-right: 12px;
	width: fit-content;
	height: fit-content;
}
.aside hr {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid rgb(221, 221, 221);
	background-color: red;
}
.aside > ul:first-child {
	display: flex;
}
.aside h2 {
	flex-grow: 1;
}
.aside li {
	width: 100%;
	list-style: none;
}
.aside > ul:first-child li:last-child {
	text-align: right;
}
.aside li > span {
	cursor: pointer;
	text-align: right;
}
