:root {
	--main-bg-color: rgb(245, 245, 245);
	--card-bg-color: rgb(255, 255, 255);
	--button-bg-color: #2196f3;
	--button-text-color: #fff;
	--reading-text-color: rgb(131, 131, 131);
	--text-color: #000;
	--input-bg-color: rgb(100, 100, 100);
	--placehoder: rgb(128, 128, 128);
	--button-bg-color-hover: #1565c0;
	--button-bg-color-active: #0d47a1;
	--border-radius-container: 24px;
	--border-radius-button: 12px;
	--border-light: 1px solid rgb(223, 223, 223);
	--navbar-height: 50px;
	--main-font: 'Nunito Sans', sans-serif;
	--danger: red;
	--success: green;
	--btn-secondary: rgb(131, 189, 176);
	--btn-danger: rgb(82, 30, 30);
	--danger-row: rgba(255, 6, 6, 0.2);
	--section-bg-color: rgb(201, 226, 247);
	--section-hover-color: rgb(187, 218, 243);
	--section-text-color: rgb(36, 143, 230);
	--disabled: rgb(131, 131, 131);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: var(--main-bg-color);
	font-family: var(--main-font);
}

img {
	width: 100%;
}
button,
a {
	width: 100%;
}
button {
	border: none;
	background-color: var(--button-bg-color);
	color: var(--button-text-color);
	font-weight: bold;
	cursor: pointer;
}

input,
button,
select {
	border-radius: var(--border-radius-button);
	padding: 12px;
}

input {
	border: var(--border-light);
	outline-color: var(--button-bg-color);
	color: var(--input-bg-color);
	padding-right: 0;
}

select {
	border: var(--border-light);
	outline-color: var(--button-bg-color);
	color: var(--placehoder);
	background-color: inherit;
}

input::placeholder {
	color: var(--placehoder);
}

button:hover {
	background-color: var(--button-bg-color-hover);
}

fieldset {
	border: none;
	display: flex;
	flex-direction: column;
}

form {
	background-color: var(--card-bg-color);
	border: var(--border-light);
	border-radius: var(--border-radius-container);
	padding: 24px 32px;
	width: 100%;
}

legend {
	margin: 16px 0;
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin: 32px 0;
	width: 100%;
}
legend h1 {
	font-weight: 400;
}
legend h4 {
	font-weight: 400;
	color: rgb(167, 167, 167);
}
table {
	width: 100%;
	text-align: right;
	border-collapse: collapse;
	background-color: var(--card-bg-color);
	color: var(--reading-text-color);
	font-size: 0.9rem;
}

caption {
	background-color: var(--card-bg-color);
	border: var(--border-light);
	border-bottom: none;
	padding: 4px 0;
	font-weight: bold;
}
th,
td {
	border: var(--border-light);
}
th {
	padding: 2px 8px 2px 0;
	background-color: var(--main-bg-color);
}
td {
	padding: 0px 8px 0px 0;
}

tr:nth-child(2n) {
	background-color: var(--main-bg-color);
}

th:last-child {
	text-align: center;
	padding-right: 0;
	padding-left: 0;
}
tfoot:last-child tr {
	background-color: var(--main-bg-color);
}
tfoot:last-child td {
	padding: 0;
	border: none;
	padding-right: 24px;
	padding-top: 16px;
}
.table-actions {
	min-width: 180px;
	text-align: center;
	padding: 8px 0;
}
.table-actions > div {
	width: 100%;
	display: flex;
	align-items: center;
	row-gap: 12px;
	column-gap: 12px;
	margin: auto;
	padding: 0 20px;
}

.table-actions small {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(230, 230, 230);
	border-radius: var(--border-radius-button);
	cursor: pointer;
	padding: 4px 12px;
	min-width: 60px;
}
tr:not(:nth-child(2n)) small:hover {
	background-color: rgb(235, 235, 235);
}
tr:nth-child(2n) small:hover {
	background-color: rgb(225, 225, 225);
}
.table-actions small {
	max-width: 90px;
	margin: auto;
}
.table-actions span {
	font-size: 0.9rem;
}
tr.danger-row .table-actions small:nth-child(2) {
	background-color: var(--btn-danger);
}
.group-btn {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}
.group-btn :is(input[type='reset'], input[type='button']) {
	cursor: pointer;
	height: fit-content;
	width: fit-content;
	font-weight: bold;
	color: var(--reading-text-color);
	background-color: transparent;
	border: none;
}
.group-btn :is(input[type='reset'], input[type='button']):hover {
	text-decoration: underline;
}
.group-btn button {
	margin-left: auto;
}

.error {
	color: var(--danger);
	animation: opacity 0.3s ease-in;
	grid-column: 1/-1;
	display: flex;
	gap: 8px;
}
.error span {
	font-size: 1rem;
}
.opacity {
	animation: opacity 0.3s ease-in;
}

.transform_x {
	animation: transform_x 0.3s ease-in;
}

.transform_y {
	animation: transform_y 0.3s ease-in;
}
button:disabled {
	background-color: var(--disabled);
}
button:disabled:hover {
	cursor: not-allowed;
}
.modal {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 999;
	padding-top: 3rem;
}
.modal form {
	width: 80%;
	border: none;
	box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}
.hidden {
	display: none;
}
@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes transform_x {
	from {
		opacity: 0;
		transform: translateX(-200px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes transform_y {
	from {
		opacity: 0;
		transform: translatey(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
