.main {
	background-color: var(--card-bg-color);
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

.main a {
	max-width: 150px;
	margin: 16px 0;
	cursor: pointer;
}
.main h1 {
	color: rgb(190, 190, 190);
}
.main figure {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.main figcaption {
	display: flex;
	flex-direction: column;
	align-items: center;
}
